@font-face {
    src: url(../fonts/CaskaydiaCove-Regular.ttf);
    font-family: 'Caskaydia Cove';
}
body {
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: rgb(30, 30, 30);
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: 'Caskaydia Cove';
    color: white;
}
h1 {
    font-size: 36px;
}
h1:hover {
    color: #ff4040;
    transition: 500ms;
    transform: scale(1.2);
}
.content {
    min-width: 10%;
    max-width: 50%;
    background-color: rgba(30, 30, 30, 0.50);
    margin: 40px auto 0 auto;
    border: solid 5px;
    border-radius: 20px;
    border-color: rgb(30, 30, 30);
    padding: 10px;
}
.nav {
    min-width: 10%;
    max-width: 30%;
    background-color: rgba(30, 30, 30, 0.50);
    margin: 40px auto 0 auto;
    border: solid 5px;
    height: 25px;
    border-radius: 20px;
    border-color: rgb(30, 30, 30);
    padding: 10px;

}
.nav a {
    display: inline-block;
    padding-left: 19px;
}
.nav a:hover {
    transform: scale(1.2);
}
.big {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
}
a, a:active {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #ff4040;
    transition: 500ms;
}
#status {
    content: "";
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    display: inline-block;
    margin-left: 0.5rem;
}
