@font-face {
  src: url(../fonts/CaskaydiaCove-Regular.ttf);
  font-family: "Caskaydia Cove";
}
* {
  padding: 0;
  margin: 0;
}
html {
  font-family: "Caskaydia Cove";
}
body {
  background-image: url(../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  color: #fff;
  text-align: center;
}
.content {
  min-width: 10%;
  max-width: 60%;
  background-color: rgba(30, 30, 30, 0.5);
  margin: 40px auto 0 auto;
  border: 5px solid rgb(30, 30, 30);
  border-radius: 20px;
  padding: 10px;
}
main {
  max-width: 1440px;
  margin: auto;
}
nav {
  min-width: 10%;
  max-width: 60%;
  background-color: rgba(30, 30, 30, 0.5);
  margin: 40px auto 0 auto;
  border: 5px solid rgb(30, 30, 30);
  border-radius: 20px;
  padding: 10px;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
nav li {
  font-size: 16px;
}
nav a {
  display: inline-block;
  margin-left: 15px;
}
nav a:hover {
  scale: 1.2;
}
header span {
  font-size: 24px;
  font-weight: 700;
}
header span:hover {
  color: #ff4040;
  transition: all 0.5ms;
  scale: 1.2;
}
.big {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: bold;
}
a,
a:active {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #ff4040;
  transition: 500ms;
}
#status {
  content: "";
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.5rem;
}

/* Reponsive website */
/* Media query on small devices */
@media (max-width: 700px) {
  nav,
  .content {
    max-width: 90%;
  }
}
